apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld
  namespace: argocd
spec:
  replicas: 2
  selector:
    matchLabels:
      app: helloworld
  template:
    metadata:
      labels:
        app: helloworld
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: helloworld
          image: 898774460249.dkr.ecr.ap-south-1.amazonaws.com/demo-repo:latest
          ports:
            - containerPort: 8080
